@import "util";

// *****************************************************************************
// Generic card layout
// *****************************************************************************
.skeuocard.js {

  input{
    border: none;
    @include vendor-prefix(border-radius, 3px);
    outline: none;
  }

  input:focus{
    outline: none;
    @include vendor-prefix(box-shadow, 0 0 10px $color-field-glow);
  }

  .face.front {
    background: #eee url('../images/products/generic-front.png') no-repeat right bottom;
  }
  .face.back {
    background: #eee url('../images/products/generic-back.png') no-repeat center center;
  }

  .cc-number{
    position: absolute;
    display: block; 
    //left:36px;
    left: 1.8em;
    top: 8.05em;
    input{
      color: #333;
      background-color: #fff;
      font-family: $cc-field-family;
      font-size: 1.5em;
      &.group4{ width: 3.2em; }
      &.group5{ width: 3.8em; }
      &.group6{ width: 4.6em; }
      &.group19{ width: 14em; }
    }
    input + input {
      margin-left: 0.4em;
    }
  }
}

// *****************************************************************************
// Base layout for cards
// This is inherited by card products.
// *****************************************************************************
.skeuocard.card-product {
  .cc-number {
    background-color: transparent;
    padding: 0.1em;
    input{
      color: #333;
      background-color: transparent;
      border: none;
    }
    input:focus{
      background-color: rgba(255, 255, 255, 0.6);
    }
  }
  .cc-exp {
    position: absolute; 
    display: block; 
    input, .separator {
      margin: 0; padding: 0;
      font-size: 1em;
      font-family: $cc-field-family;
      color: #333;
      background-color: transparent;
      border: none;
      text-align: center;
      &.group2{ width: 2em; }
      &.group4{ width: 4em; }
    }
  }
  .cc-name {
    margin: 0; padding: 0;
    position: absolute; 
    display: block; 
    font-size: 1em;
    font-family: $cc-field-family;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
  }
  .cc-cvc {
    margin: 0; padding: 0;
    position: absolute; 
    display: block; 
    font-size: 1em;
    font-family: $cc-label-family;
    background-color: transparent;
    border: none;
  }
  .invalid{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .invalid{
    outline: none;
    box-shadow: 0 0 10px $color-invalid;
    @include vendor-prefix(transition, box-shadow linear 0.15s);
    input:focus{
      border: 1px solid blue;
      outline: none;
      @include vendor-prefix(border-radius, 3px);
    }
  }
}

// *****************************************************************************
// Visa product layout
// *****************************************************************************
.skeuocard.product-visa {
  @extend .skeuocard.card-product;

  .face.front{
    background: #eee url('../images/products/visa-front.png') no-repeat right bottom;
  }
  .face.back {
    background: #eee url('../images/products/visa-back.png') no-repeat center center;
  }

  .cc-number{
    left: 1.8em; 
    top: 8.05em;
  }

  .cc-exp{
    left: 10.9em;
    top: 11.2em;
    width: 5em;
  }

  .cc-name{
    left: 1.8em;
    top: 13em;
  }

  .cc-cvc{
    top: 7.15em;
    left: 18.1em;
    width: 3em;
  }

  // This card puts all required information on the back, rather than the front.
  &.issuer-chase-sapphire{
    .face.front{
      background-image: url('../images/issuers/visa-chase-sapphire.png');
    }
    .cc-name{
      left: 1.25em;
      top: 8.90em;
      font-family: $cc-label-family;
      letter-spacing: 2px;
    }
    .cc-number{
      left: 1.25em;
      top: 9.6em;
      input{
        font-family: $cc-label-family;
        letter-spacing: 2px;
        font-size: 1.425em;
        &.group4{ width: 2.8em; }
      }
      input + input{
        margin-left: 0.1em;
      }
    }
    .cc-exp{
      left: 3.75em;
      top: 11.5em; 
      input, .separator{
        font-family: $cc-label-family;
        &.group2{ width: 1.6em; }
      }
    }
    .cc-cvc{
      top: 6.3em;
      left: 15.25em;
    }

  }

  &.issuer-simple{
    .face.front{
      background-image: url('../images/issuers/visa-simple-front.png');
    }
    input, .separator {
      color: #eee;
      background-color: transparent;
      text-shadow: 1px 1px 1px #bbb;
      filter: dropshadow(color=#aaa, offx=1, offy=1);
      border: none;
      @include input-placeholder{ 
        color: #fff; 
        text-shadow: 1px 1px 1px #ccc;
        filter: dropshadow(color=#ddd, offx=1, offy=1);
      };
    }
    .cc-number{
      background-color: transparent;
    }
  }

}

// *****************************************************************************
// American Express card layout
// *****************************************************************************
.skeuocard.product-amex {
  @extend .skeuocard.card-product;

  .face.front {
    background: #eee url('../images/products/amex-front.png') no-repeat right bottom;
  }
  .face.back{
    background: #eee url('../images/products/visa-back.png') no-repeat center center;
  }

  .cc-number{
    left: 3em;
    top: 8em;
  }

  .cc-name{
    left: 2.5em;
    top: 13.5em;
  }

  .cc-exp{
    left: 2.5em;
    top: 11.5em;
  }

  .cc-cvc{
    left: 21.25em;
    top: 7em;
    width: 3em;
  }
}

// *****************************************************************************
// Diners Club International card layout
// *****************************************************************************
.skeuocard.product-dinersclubintl {
  @extend .skeuocard.card-product;

  .face.front{
    background: #eee url('../images/products/dinersclubintl-front.png') no-repeat right bottom;
  }
  .face.back{
    background: #eee url('../images/products/visa-back.png') no-repeat center center;
  }
  .cc-number{
    left: 1.8em;
    top: 8.05em;
  }
  .cc-name{
    left: 1.8em;
    top: 11.5em;
  }
  .cc-exp{
    left: 17.5em;
    top: 13.5em;
  }
  .cc-cvc{
    top: 7.15em;
    left: 18.1em;
    width: 3em;
  }
}

// *****************************************************************************
// Mastercard card layout
// *****************************************************************************
.skeuocard.product-mastercard {
  @extend .skeuocard.card-product;

  .face.front{
    background: #eee url('../images/products/mastercard-front.png') no-repeat right bottom;
  }
  .face.back{
    background: #eee url('../images/products/visa-back.png') no-repeat center center;
  }

  .cc-number{
    left: 1.8em;
    top: 8.05em;
  }

  .cc-name{
    left: 2.5em;
    top: 12.2em;
  }

  .cc-exp{
    left: 11.5em;
    top: 10.8em;
  }

  .cc-cvc{
    top: 7.15em;
    left: 18.1em;
    width: 3em;
  }
}

// *****************************************************************************
// Discover card layout
// *****************************************************************************
.skeuocard.product-discover {
  @extend .skeuocard.card-product;

  .face.front{
    background: #eee url('../images/products/discover-front.png') no-repeat right bottom;
  }
  .face.back{
    background: #eee url('../images/products/visa-back.png') no-repeat center center;
  }

  .cc-number{
    left: 1.8em;
    top: 8.05em;
  }

  .cc-name{
    left: 1.55em;
    top: 13.575em;
  }

  .cc-exp{
    left: 13.15em;
    top: 11.61em;
  }
  .cc-cvc{
    top: 7.15em;
    left: 18.1em;
    width: 3em;
  }
}