@import "util";

/*
Generic
 */
.skeuocard.js {

  .face.front {
    background: #eee url('/images/products/generic-front.png') no-repeat right bottom;
  }
  .face.back {
    background: #eee url('/images/products/generic-back.png') no-repeat center center;
  }

  .cc-exp { 
    position: absolute; 
    display: block; 
    input, .separator {
      margin: 0; padding: 0;
      font-size: 1em;
      font-family: $cc-field-family;
      &.group2{ width: 2em; }
      &.group4{ width: 4em; }
    }
  }

  .cc-name{ 
    margin: 0; padding: 0;
    position: absolute; 
    display: block; 
    font-size: 1em;
    font-family: $cc-field-family;
  }

  .cc-number{
    position: absolute;
    display: block; 
    //left:36px;
    left: 1.8em;
    top: 8.05em;
    input{
      color: #333;
      background-color: #fff;
      font-family: $cc-field-family;
      font-size: 1.5em;
      &.group4{ width: 3.2em; }
      &.group5{ width: 3.8em; }
      &.group6{ width: 4.6em; }
      &.group19{ width: 14em; }
    }
    input + input {
      margin-left: 0.4em;
    }
  }

  .cc-cvc{
    position: absolute;
    display: block; 
    font-size: 1em;
  }

}

.skeuocard.product-dinersclubintl {
  .face.front{
    background: #eee url('/images/products/dinersclubintl-front.png') no-repeat right bottom;
  }
  .cc-number{
    left: 1.8em;
    top: 8.05em;
    input {
      background: transparent;
      border: 0;
    }
    input + input {
      margin-left: 0.6em;
    }
  }
  .cc-name{
    left: 1.8em;
    top: 11.5em;
    background: transparent;
    border: 0;
  }
  .cc-exp{
    left: 17.5em;
    top: 13.5em;
    input, .separator {
      background: transparent;
      border: 0;
    }
  }
}

/*
 Visa product
 */
.skeuocard.product-visa {

  .face.front{
    background: #eee url('/images/products/visa-front.png') no-repeat right bottom;
  }
  .face.back {
    background: #eee url('/images/products/visa-back.png') no-repeat center center;
  }


  .cc-number{
    background-color: transparent;
    left: 1.8em;
    top: 8.05em;
    padding: 0.1em;
    input{
      color: #333;
      background-color: transparent;
      border: none;
    }
  }

  .cc-exp{
    left: 10.9em;
    top: 11.2em;
    width: 5em;
    input{
      color: #333;
      background-color: transparent;
      border: none;
      text-align: center;
    }
  }

  .cc-name{
    left: 1.8em;
    top: 13em;
    font-family: $cc-field-family;
    font-size: 1em;
    color: #333;
    background-color: transparent;
    border: none;
  }

  .cc-cvc{
    top: 7.15em;
    left: 18.1em;
    width: 3em;
  }

  &.issuer-simple{
    .face.front{
      background-image: url('/images/issuers/visa-simple-front.png');
    }
    input, .separator {
      color: #eee;
      background-color: transparent;
      text-shadow: 1px 1px 1px #bbb;
      filter: dropshadow(color=#aaa, offx=1, offy=1);
      border: none;
      @include input-placeholder{ 
        color: #fff; 
        text-shadow: 1px 1px 1px #ccc;
        filter: dropshadow(color=#ddd, offx=1, offy=1);
      };
    }
    .cc-number{
      background-color: transparent;
    }
  }

}

.skeuocard.product-amex {
  .face.front {
    background: #eee url('/images/products/amex-front.png') no-repeat right bottom;
  }
  .cc-number{
    // background-color: #ddd;
    background-color: transparent;
    left: 3em;
    top: 8em;
    padding: 0.1em;
    input{
      color: #333;
      background: transparent;
      border: none;
    }
    input + input{
      margin-left: 0.6em;
    }
  }
  .cc-exp{
    left: 2.5em;
    top: 11.5em;
  }
  .cc-name{
    left: 2.5em;
    top: 13.5em;
  }

  /* Customizations for specific issuers (.issuer-<issuerShortname>) */
  &.issuer-blackcard{
    .face.front{
      background-image: url('/images/issuers/amex-blackcard-front.png');
      input {
        background-color: transparent;
        color: #dbc397;
        border: none;
        @include input-placeholder{
          color: #dbc397;
          opacity: 0.5;
        };
      }
      .cc-number{
        background-color: transparent;
      }
      .cc-exp{
        input, .separator{ color: #dbc397; }
      }
      .cc-name{
        top: 12.7em;
      }
    }
  }

}

.skeuocard.product-mastercard {

  .face.front{
    background: #eee url('/images/products/mastercard-front.png') no-repeat right bottom;
  }

  .cc-number{
    background-color: #ddd;
    left: 1.8em;
    top: 8.05em;
    padding: 0.1em;
    background-color: transparent;
    input{
      color: #333;
      background: transparent;
      border: none;
    }
    input + input{
      margin-left: 0.6em;
    }
  }

  .cc-exp{
    left: 11.5em;
    top: 10.8em;
  }

  .cc-name{
    left: 2.5em;
    top: 12.2em;
  }
}