@import "reset";
@import "util";

$cc-scale: 0.58;
$cc-face-width: 856px * $cc-scale;
$cc-face-height: 538px * $cc-scale;

$cc-font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;

.credit-card-input {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  width: $cc-face-width;
  height: $cc-face-height;

  .card {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;

    &.flip{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }

  .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: $cc-face-width;
    height: $cc-face-height;

    &.front{
      z-index: 2;
    }

    &.back{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
    }
  }
}

.credit-card-input.js-enabled{
  label{ display: none; }
  #cc-type-choice{ display: none; }
}

@import "_cards";