@import "util";

/* Sizing is 1em = 20px */

@font-face {
  font-family: 'ocraregular';
  src: url('../fonts/ocra-webfont.eot');
  src: url('../fonts/ocra-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ocra-webfont.woff') format('woff'),
       url('../fonts/ocra-webfont.ttf') format('truetype'),
       url('../fonts/ocra-webfont.svg#ocraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$cc-face-width: 24.8em;
$cc-face-height: 15.6em;

$cc-label-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$cc-field-family: "ocraregular", "OCR A Std", "OCR A", Courier, "Courier New", monospace;

.skeuocard.js {
  width: $cc-face-width;
  height: $cc-face-height;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

  .card-body {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;

    .face {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;

      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      -ms-transition: all 0.25s ease;
      transition: all 0.25s ease;

      position: absolute;
      top: 0;
      left: 0;
      width: $cc-face-width;
      height: $cc-face-height;
      -webkit-border-radius: 1.15em;
      border-radius: 1.15em;
      background-color: #eee;
      background-size: cover !important;
      background-position: right bottom;
      border: 1px solid #ddd;
    }

    .face.front{
      z-index: 2;
    }

    .face.back{
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }
  }

  .card-body.flip {
    .face.back{
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }

    .face.front{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
    } 
  }


  .flip-tab{
    position: absolute;
    -webkit-border-radius: 3.55em;
    border-radius: 3.55em;
    cursor: pointer; cursor: hand;
    height: 3.55em;
    width: 13em;
    display: block;
    background: #00CFA7 url('/images/card-flip-arrow.png') no-repeat;
    background-size: 1.375em 1.725em;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    p{
      margin: 0.3em;
      font-family: $cc-label-family;
      color: #fff;
      font-size: 1.0em;
      line-height: 1.2em;
    }
    &.front{
      right: -1.25em;
      top: 1em;
      background-position: 10.65em 0.90em;
      p{
        margin-top: 0.6em;
        margin-right: 2.9em;
        margin-left: 1.25em;
      }
    }
    &.front:hover{
      right: -1.8em;
    }
    &.back{
      left: -1.25em;
      top: 1em;
      background-position: 1.0em 0.90em;
      p{
        margin-right: 1.25em;
        margin-left: 2.9em;
        margin-top: 0.85em;
      }
    }
    &.back:hover{
      left: -1.8em;
    }
  }
  .flip-tab.valid-anim{
    background-position: 10.05em 0.6em;
    background-image: url('/images/card-valid-anim.gif');
    background-size: 2.3em 2.3em;
  }

}

@import "_cards";
@import "_browser_hacks";