* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.credit-card-input {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
  width: 496.48px;
  height: 312.04px; }
  .credit-card-input .card {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
    .credit-card-input .card.flip {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  .credit-card-input .face {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 496.48px;
    height: 312.04px; }
    .credit-card-input .face.front {
      z-index: 2; }
    .credit-card-input .face.back {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg); }

.credit-card-input.js-enabled label {
  display: none; }
.credit-card-input.js-enabled #cc-type-choice {
  display: none; }

.credit-card-input.js-enabled {
  /* Generic product **********************************************************/
  /* Visa product *************************************************************/
  /* Amex product *************************************************************/
  /* MasterCard product *******************************************************/ }
  .credit-card-input.js-enabled .face.front {
    -webkit-border-radius: 23px;
    border-radius: 23px;
    background-color: #eee;
    background-position: right bottom;
    border: 1px solid #ddd;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear; }
  .credit-card-input.js-enabled .face.back {
    -webkit-border-radius: 23px;
    border-radius: 23px;
    background-color: #eee;
    background-position: right bottom;
    border: 1px solid #ddd;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear; }
  .credit-card-input.js-enabled .value {
    display: none; }
  .credit-card-input.js-enabled .field {
    position: absolute; }
  .credit-card-input.js-enabled.product-generic .face.front {
    background: #eeeeee url("/images/products/generic-front.png") no-repeat right bottom; }
    .credit-card-input.js-enabled.product-generic .face.front .cc-number {
      display: block;
      color: #333;
      background-color: #ddd;
      font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
      font-size: 30px;
      left: 34px;
      top: 161px; }
    .credit-card-input.js-enabled.product-generic .face.front .cc-exp {
      display: none; }
    .credit-card-input.js-enabled.product-generic .face.front .cc-name {
      display: none; }
  .credit-card-input.js-enabled.product-visa {
    /* Customizations for specific issuers (.issuer-<issuerShortname>) */ }
    .credit-card-input.js-enabled.product-visa .face.front {
      background: #eeeeee url("/images/products/visa-front.png") no-repeat right bottom; }
      .credit-card-input.js-enabled.product-visa .face.front .cc-number {
        background-color: #ddd;
        left: 34px;
        top: 161px;
        padding: 2px; }
        .credit-card-input.js-enabled.product-visa .face.front .cc-number input {
          color: #333;
          font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
          font-size: 30px;
          background: transparent;
          border: none; }
        .credit-card-input.js-enabled.product-visa .face.front .cc-number input + input {
          margin-left: 16px; }
      .credit-card-input.js-enabled.product-visa .face.front .cc-exp {
        left: 218px;
        top: 224px;
        font-size: 20px;
        width: 100px; }
        .credit-card-input.js-enabled.product-visa .face.front .cc-exp input, .credit-card-input.js-enabled.product-visa .face.front .cc-exp .separator {
          margin: 0;
          padding: 0;
          font-size: 20px;
          font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace; }
      .credit-card-input.js-enabled.product-visa .face.front .cc-name {
        left: 43px;
        top: 259px;
        font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
        font-size: 20px; }
    .credit-card-input.js-enabled.product-visa.issuer-simple .face.front {
      background-image: url("/images/issuers/visa-simple-front.png"); }
      .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator {
        color: #eee;
        background-color: transparent;
        text-shadow: 1px 1px 1px #aaa;
        filter: dropshadow(color=#aaaaaa, offx=1, offy=1);
        border: none; }
        .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input.placeholder, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator.placeholder {
          color: #fff;
          text-shadow: 1px 1px 1px #ccc;
          filter: dropshadow(color=#dddddd, offx=1, offy=1); }
        .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input:-moz-placeholder, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator:-moz-placeholder {
          color: #fff;
          text-shadow: 1px 1px 1px #ccc;
          filter: dropshadow(color=#dddddd, offx=1, offy=1); }
        .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input::-moz-placeholder, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator::-moz-placeholder {
          color: #fff;
          text-shadow: 1px 1px 1px #ccc;
          filter: dropshadow(color=#dddddd, offx=1, offy=1); }
        .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input:-ms-input-placeholder, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator:-ms-input-placeholder {
          color: #fff;
          text-shadow: 1px 1px 1px #ccc;
          filter: dropshadow(color=#dddddd, offx=1, offy=1); }
        .credit-card-input.js-enabled.product-visa.issuer-simple .face.front input::-webkit-input-placeholder, .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .separator::-webkit-input-placeholder {
          color: #fff;
          text-shadow: 1px 1px 1px #ccc;
          filter: dropshadow(color=#dddddd, offx=1, offy=1); }
      .credit-card-input.js-enabled.product-visa.issuer-simple .face.front .cc-number {
        background-color: transparent; }
  .credit-card-input.js-enabled.product-amex {
    /* Customizations for specific issuers (.issuer-<issuerShortname>) */ }
    .credit-card-input.js-enabled.product-amex .face.front {
      background: #eeeeee url("/images/products/amex-front.png") no-repeat right bottom; }
      .credit-card-input.js-enabled.product-amex .face.front .cc-number {
        background-color: #ddd;
        left: 64px;
        top: 161px;
        padding: 2px; }
        .credit-card-input.js-enabled.product-amex .face.front .cc-number input {
          color: #333;
          font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
          font-size: 30px;
          background: transparent;
          border: none; }
        .credit-card-input.js-enabled.product-amex .face.front .cc-number input + input {
          margin-left: 16px; }
      .credit-card-input.js-enabled.product-amex .face.front .cc-exp {
        left: 50px;
        top: 230px; }
        .credit-card-input.js-enabled.product-amex .face.front .cc-exp input, .credit-card-input.js-enabled.product-amex .face.front .cc-exp .separator {
          margin: 0;
          padding: 0;
          font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
          font-size: 20px; }
      .credit-card-input.js-enabled.product-amex .face.front .cc-name {
        left: 50px;
        top: 270px;
        font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
        font-size: 20px; }
    .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front {
      background-image: url("/images/issuers/amex-blackcard-front.png"); }
      .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input {
        background-color: transparent;
        color: #dbc397;
        border: none; }
        .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input.placeholder {
          color: #dbc397;
          opacity: 0.5; }
        .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input:-moz-placeholder {
          color: #dbc397;
          opacity: 0.5; }
        .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input::-moz-placeholder {
          color: #dbc397;
          opacity: 0.5; }
        .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input:-ms-input-placeholder {
          color: #dbc397;
          opacity: 0.5; }
        .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front input::-webkit-input-placeholder {
          color: #dbc397;
          opacity: 0.5; }
      .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front .cc-number {
        background-color: transparent; }
      .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front .cc-exp input, .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front .cc-exp .separator {
        margin: 0;
        padding: 0;
        font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
        font-size: 20px;
        color: #dbc397; }
      .credit-card-input.js-enabled.product-amex.issuer-blackcard .face.front .cc-name {
        top: 254px; }
  .credit-card-input.js-enabled.product-mastercard .face.front {
    background: #eeeeee url("/images/products/mastercard-front.png") no-repeat right bottom; }
    .credit-card-input.js-enabled.product-mastercard .face.front .cc-number {
      background-color: #ddd;
      left: 34px;
      top: 161px;
      padding: 2px; }
      .credit-card-input.js-enabled.product-mastercard .face.front .cc-number input {
        color: #333;
        font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
        font-size: 30px;
        background: transparent;
        border: none; }
      .credit-card-input.js-enabled.product-mastercard .face.front .cc-number input + input {
        margin-left: 16px; }
    .credit-card-input.js-enabled.product-mastercard .face.front .cc-exp {
      left: 230px;
      top: 216px; }
      .credit-card-input.js-enabled.product-mastercard .face.front .cc-exp input, .credit-card-input.js-enabled.product-mastercard .face.front .cc-exp .separator {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace; }
    .credit-card-input.js-enabled.product-mastercard .face.front .cc-name {
      left: 50px;
      top: 244px;
      font-family: "ocr-a-std", "OCR A Std", "OCR A", Courier, "Courier New", monospace;
      font-size: 20px; }
